div, p {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

div.app {
  background-image: url('../images/bg2.png');
}

#sidebar {
position: absolute;
top: 0;
padding: 3em 1.35em 1em 1.15em;
background: #364050 url('../images/bg1.png');
box-shadow: inset -0.1em 0em 0.35em 0em rgba(0,0,0,0.15);
}

#logo {
  background-color: #c94663;
  background-image: url('../images/bg1.png');
  padding: 0.75em 0.5em 0.75em 0.5em;
  border-radius: 0.4em;
  text-align: center;
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.15), 0 0.025em 0.15em 0em rgba(0,0,0,0.25);
}

#logo h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 2em;
  letter-spacing: 0.1em;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}


#sidebar .scrollable {
  padding-top: 180px;
}

#sidebar a.list-group-item {
  color: #555;
  text-shadow: none;
}

#sidebar a.active {
  color: white;
}


.navbar {
  color: white;
  background: #364050 url('../images/bg1.png');
  border: none;
}

.navbar-app .btn, .navbar-app .btn-navbar {
  color: white;
}

div.list-group {
  margin: 0;
}

.feature-icon {
  font-size: 44px;
  padding: 0;
  line-height: 64px;
  width: 64px;
  text-align: center;
  opacity: .8;
}


.media {
  line-height: 1.5em;
}
.media-phone {
  margin: 0;
}

.phone-contact {
  font-size: 40px;
  background: #ccc;
  padding: 5px 10px;
  color: black;
  border-radius: 10px;
}

.schedule h1, .schedule h2, .schedule h3 {
  padding: 0 15px;
}
.schedule li a {
  padding: 5px 10px;
}

#schedule-carousel .page-header {
  text-align: left;
}
div.schedule_container {
  position: relative;
  width: 100%;
}
div.event_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  right: 0;
}
div.event_hour {
  position: absolute;
  width: 100%;
  border-top: 1px solid gray;
  height: 60px;
  padding-left: 5px;
  text-align: left;
}
div.event_cell {
  position: absolute;
  width: 90%;
  border: 1px solid black;
  min-height: 15px;
  white-space: normal;
  opacity: 0.8;
}
.event_location {
  font-style: italic;
}
.progress {
  position: relative;
  width: 100%;
}
.progress-bar-text {
  position: absolute;
  right: 5px;
  color: black;
  font-size: 0.8em;
}
