<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "se.nccc.scapp"
        versionCode = "11" 
        version     = "0.5.0" >

    <!-- versionCode is optional and Android only -->

    <name>Summer Camp</name>

    <description>
        Summer Camp App. 
    </description>

    <author href="http://nccc.se" email="support@nccc.se">
        NCCC
    </author>
    
    <preference name="permissions" value="none"/>
    
    <!-- Default Icon and Splash -->
    <icon src="resources/icon/ios/Icon.png" />
    <gap:splash src="splash.png" />
    <gap:splash src="splash/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
    <gap:splash src="splash/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />
    <gap:splash src="splash/ios/Default-iPhone5.png" gap:platform="ios" width="640" height="1136" />
 
    <!-- Android Icons -->
    <icon src="resources/icon/ios/Icon-40.png"         gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="resources/icon/ios/Icon-Small-50.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="resources/icon/ios/Icon-72.png"         gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="resources/icon/ios/Icon-Small-100.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    <icon src="resources/icon/ios/Icon-152.png"        gap:platform="android"    gap:qualifier="xxhdpi" />
     
    <!-- iOS Icons  -->
 
    <!-- 7.0+ -->
    <icon src="resources/icon/ios/Icon-Small.png"     gap:platform="ios"        width="29" height="29" />
    <icon src="resources/icon/ios/Icon-40.png"        gap:platform="ios"        width="40" height="40" />
    <icon src="resources/icon/ios/Icon-Small@2x.png"  gap:platform="ios"        width="58" height="58" />
    <icon src="resources/icon/ios/Icon-60.png"        gap:platform="ios"        width="60" height="60" />
    <icon src="resources/icon/ios/Icon-76.png"        gap:platform="ios"        width="76" height="76" />
    <!--icon src="resources/icon/ios/Icon-40@2x.png"     gap:platform="ios"        width="80" height="80" /-->
    <icon src="resources/icon/ios/Icon-120.png"       gap:platform="ios"        width="120" height="120" />
    <icon src="resources/icon/ios/Icon-152.png"       gap:platform="ios"        width="152" height="152" />     
 
    <!-- 6.1 -->
    <icon src="resources/icon/ios/Icon-Small-50.png"  gap:platform="ios"        width="50" height="50" />
    <icon src="resources/icon/ios/Icon-57.png"        gap:platform="ios"        width="57" height="57" />
    <icon src="resources/icon/ios/Icon-72.png"        gap:platform="ios"        width="72" height="72" />
    <icon src="resources/icon/ios/Icon-Small-100.png" gap:platform="ios"        width="100" height="100" />
    <icon src="resources/icon/ios/Icon-114.png"       gap:platform="ios"        width="114" height="114" />
    <!--icon src="resources/icon/ios/Icon-72-2x.png"     gap:platform="ios"        width="144" height="144" /-->
    

    <gap:plugin name="org.li8.inappbrowser" version="0.1" />
    

</widget>
