<div class="scrollable"> 
  <div class="scrollable-content">
    <div class="section schedule">
      <h1>Schedule</h1>
      <ul class="nav nav-tabs">
        <li ng-repeat="date in dates"><a href="#{{date.dateobj}}" toggle="on" parent-active-class="active" active>{{date.date_text|limitTo:2}}</a></li>
      </ul>

      <div class="tab-content">
        <div ng-repeat="date in dates"
            class="tab-pane" 
            toggleable 
            active-class="active" 
            id="{{ date.dateobj }}" 
            default="{{ activeDay(date) }}"
            exclusion-group="myTabs">

          <h2 class="page-header">{{ date.date_text }}</h2>
          <div class="schedule_container" style="height: {{date.container_height}}px;">
            <div ng-repeat="hour in hoursArray(date.first_hour, date.last_hour)"
             class="event_hour"
             style="top: {{ (hour-date.first_hour)*60 }}px;">
              {{ hour }}:00
            </div>
            <div class="event_container">
              <div class="event_cell label label-info"
                ng-repeat="entry in entries | filter:{date_text: date.date_text }"
                style="top: {{entry.top}}px; height: {{entry.height}}px; left: {{entry.left}}%; width: {{entry.width}}%;"
                filter>
                 {{ entry.start }} - {{ entry.end }}: {{ entry.title }}
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>