<div class="scrollable"> 
  <div class="scrollable-content">
    <div class="section container-fluid">

      <ul class="nav nav-tabs schedule">
        <li><a href="#Monday" toggle="on" parent-active-class="active">Mo</a></li>
        <li><a href="#Tuesday" toggle="on" parent-active-class="active">Tu</a></li>
        <li><a href="#Wednesday" toggle="on" parent-active-class="active">We</a></li>
        <li><a href="#Thursday" toggle="on" parent-active-class="active">Th</a></li>
        <li><a href="#Friday" toggle="on" parent-active-class="active">Fr</a></li>
        <li><a href="#Saturday" toggle="on" parent-active-class="active">Sa</a></li>
        <li><a href="#Sunday" toggle="on" parent-active-class="active">Su</a></li>
      </ul>

      <div class="tab-content">
        <div ng-repeat="day in days"
            class="tab-pane" 
            toggleable 
            active-class="active" 
            id="{{ day.name }}" 
            exclusion-group="myTabs">

          <h3 class="page-header">{{ day.name }}</h3>
          <div ng-repeat="entry in entries | filter:{day: day.number }" href="#" class="list-group-item" filter>
             {{ entry.start }} - {{ entry.end }}: {{ entry.title }}
          </div>
        </div>
      </div>


    </div>
  </div>
</div>